*
{
 	font-family: 'Oxygen', sans-serif;
}
ol
{
	list-style: none;
}
a
{
    text-decoration: none;
}

.base-view
{
    display: grid;
    grid-template-rows: 200px 120px;
    background-image: url("../images/spiral.gif");
    background-size: cover;
    background-position-y: 100px;
}

.base-view .banner
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(200, 200, 200);
	min-height: 200px;
	background-image: url("../images/banner-rainbow.jpg");
	background-position: center;
	background-size: cover;
	color: white;
	padding-left: 16px;
}

.navigation ol
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	grid-gap: 10px;
    background: transparent;
}

.navigation ol li
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: rgb(240, 240, 240);
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 4px solid rgb(220, 220, 220);
}

.navigation ol li a
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.navigation ol li .active
{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../images/star.gif");
}
.details
{
    background: transparent;
}