.controls
{
	min-height: 64px;
	max-height: 110px;
}

.rules,.console,.code
{
	height: 100%;
}

.parser-demo-view
{
	font-family: monospace;
	min-height: 800px;
	display: grid;
	overflow: auto;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "details details details" "lexer input output" "parser input output";
}

.lexer
{
	background: var(--main-bg-yellow);
	grid-area: lexer;
}

.parser
{
	background: var(--main-bg-green);
	grid-area: parser;
}

.input
{
	background: var(--main-bg-blue);
	grid-area: input;
}

.output
{
	background: var(--main-bg-red);
	grid-area: output;
}

.controls span
{
	padding: 4px;
	font-family: 'Roboto', sans-serif;
}