:root
{
	--main-bg-red: #F44336;
  	--main-bg-blue: #2196F3;
  	--main-bg-green: #4CAF50;
  	--main-bg-yellow: #FFEB3B;
  	--main-bg-grey: #9E9E9E;
	--button-active-bg: #1DE9B6;
	--button-active-text: #FFFF00;
	--button-bg: #E0F7FA;
	--button-text: ##006064;
	--button-hover-bg: #18FFFF;
	--button-hover-text: #01579B;
	--button-outline: #0097A7;
	--button-hover-outline: #0288D1;
	--button-active-outline: #FFD600;
}

*
{
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
}

body
{
	background-image: url("../images/banner-lakeside.jpg");
	min-height: 800px;
	background-size: cover;
	background-position: 0 100px;
}

textarea
{
	background: #FAFAFA;
	border: 1px solid black;
	width: 100%;
	height: 100%;
}

button
{
	width: 64px;
	height: 64px;
	outline: 2px solid var(--button-outline);
	background: var(--button-bg);
	color: var(--button-text);
	outline-offset: -4px;
	border-radius: 4px;
	-moz-outline-radius: 4px;
}

button:hover
{
	background: var(--button-hover-bg);
	color: var(--button-hover-text);
	outline-color: var(--button-hover-outline);
}

button:active
{
	background: var(--button-active-bg);
	color: var(--button-active-text);
	outline-color: var(--button-active-outline);
}

.project-details
{
	grid-area: details;
	background-color: rgba(255, 255, 255, 0.4);
}